//Colors
darkGrey  = #5D6465
deepRed   = #3d0000
faintGrey = #F1F1F1
white     = #FFF


body, html
    margin 0
    // height 100%
    font-family Geneva, Tahoma, Verdana, sans-serif
    background-color faintGrey

.content
    text-align center
    min-width 520px
    
    .title
        font-size 36px
        color darkGrey
        left 0

    .pump-grid
        background-color white
        overflow auto
        min-width 520px
        width 50%
        margin 0 auto
        
        .pump-post
            border-bottom 3px solid #e0e0e0
            position relative
        
            .user-info
                float left
                position absolute
                top 40%
                left 5%
                
                .user-pic
                    height 50px
                    width 50px
                    border-radius 5px
                    
                .user-name
                    font-size 14px

            .post-and-note
                font-size 14px
                color deepRed
                
                .created-at
                    font-size 13px
                    float right
                    padding 2px 2px 0 0
                    
                .pump-img
                    height 300px
                    width 300px
                    margin-left 130px
                
                .note
                    font-size 12px
                    
            .stats
                font-size 12px